<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale"> -->
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="icon" type="image/png" href="/img/favicon.png">
        <!-- Website share thumbnail setup -->
        <meta property='og:title' content='Boundless-Resource.com'/>
        <meta property='og:image' content='uef_landing_page_img/thumbnail.jpg'/>
        <meta property='og:description' content='Boundless Entertainment courses give you direct insight into real projects and teach you real solutions for creating cinematic, Hollywood-level visuals.'/>
        <meta property='og:url' content='https://boundless-resource.com/ultimate-unreal-engine-for-filmmakers-bundle-build/'/>
        <meta property='og:image:width' content='1920'/>
        <meta property='og:image:height' content='816'/>
        <meta property='og:type' content='website'/>
        <title>Unreal Engine for Filmmakers Course | Boundless Entertainment</title>
    </head>
    
    <body>


        <nav class="nav-bar">
            <div class="logo">
                <div>
                    <a href="https://boundless-resource.com/"><img style="height: 100%; width: 100%;" src="/img/be_logo.png"></a>
                </div>
            </div>
            <div class="options">
                <ul>
                    <div>
                        <li><a href="https://boundless-resource.com/" class="nav-link">HOME</a></li>
                    </div>
                    <div class="dropdown">
                        <li>
                            <!-- <div>
                                <button onclick="expand()" class="dropbtn"><a class="nav-link">COURSES</a></button>
                                <div class="dropdown-content">
                                    <a class="nav-link" href="">COURSE CATALOG</a>
                                    <a class="nav-link" href="">COURSE BUNDLES</a>
                                    <a class="nav-link" href="">MEMBERSHIPS</a>
                                </div>
                            </div> -->
                            <a href="https://boundless-resource.com/courses-2/" class="nav-link">COURSES</a>
                        </li>
                    </div>
                    <div>
                        <li><a href="https://boundless-resource.com/dashboard/" class="nav-link">DASHBOARD</a></li>
                    </div>
                    <div>
                        <li><a href="https://boundless-resource.com/gemini/" class="nav-link">GEMINI</a></li>
                    </div>
                    <div class="dropdown">
                        <li>
                            <div>
                                <button onclick="expand()" class="dropbtn"><a href="https://boundless-resource.com/about-us/" class="nav-link">ABOUT US <i class="fa fa-caret-down"></i></a></button>
                                <div id="myDropdown" class="dropdown-content">
                                    <a class="nav-link" href="https://boundless-resource.com/sameisenhower/">ON-SET SERVICES</a>
                                </div>
                            </div>
                        </li>
                    </div>
                    <div>
                        <li><a href="https://boundless-resource.com/contact-us/" class="nav-link">CONTACT US</a></li>
                    </div>
                </ul>
            </div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>


        <div class="main-container">
            <h1 style="text-shadow: 1px 1px 2px black, 0 0 25px grey, 0 0 5px darkgrey;">UNREAL ENGINE FOR FILMMAKERS</h1>
            <div id="offer-container">
                <h2 style="letter-spacing: 0.08em; margin-bottom: 0;">LIMITED TIME OFFER - 33% OFF!</h2>
                <h3 style="letter-spacing: 0.04em; margin-top: 0;">Was <s>$299.99</s> NOW $199.99 – SALE ENDS SOON!</h3>
            </div>
            <hr>
            <div id="video-container">
                <iframe height="100%" width="100%" src="https://youtube.com/embed/DZYYjXp5Uf0?controls=1&amp;rel=0&amp;modestbranding=1&amp;autoplay=1" allow="autoplay;" frameborder="0" allowfullscreen></iframe>
                <!-- <iframe src="https://iframe.mediadelivery.net/embed/21811/9b134c0e-0eb3-49ad-a750-1ea3dcd39cf0?autoplay=true" loading="lazy" style="border: none; position: absolute; top: 0; height: 100%; width: 100%;" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe> -->
            </div>
            <button class="button" onclick="enrollNav()">ENROLL NOW</button>
            <div class="paragraph-container">
                <p class="paragraph-left">
                    Unreal Engine for Filmmakers is a value-packed online course designed for anyone looking to learn filmmaking and visual effects in Unreal Engine. We get you from beginner to professional in just 10 days using almost entirely free software and assets.
                </p>
                <p class="paragraph-right">
                    For a breakdown of the course, watch the full video above or view the course breakdown below. Enroll now to gain lifetime access to this ever-expanding training and community for just $199.99 (normally $299.99). Offer expires soon!
                </p>
            </div>
            <div>

            </div>
            <h1>COURSE BREAKDOWN:</h1>
            <div id="breakdown-container">
                <div class="paragraph-left">
                    <div id="course-name-container">
                        <h1>UNREAL ENGINE FOR FILMMAKERS COURSE</h1>
                    </div>
                    <div class="course-info-container">
                        <h1>$199.99</h1>
                        <hr>
                        <ul>
                            <li>Install and set up Unreal Engine</li>
                            <li>Basic navigation & menus</li>
                            <li>Using materials</li>
                            <li>Basic lighting</li>
                            <li>Basic scene construction</li>
                            <li>Create a landscape</li>
                            <li>Build a scene from the ground up</li>
                            <li>Blend assets: Runtime Virtual Texturing</li>
                            <li>Use foliage & decals</li>
                            <li>In-depth lighting</li>
                            <li>Cinematic camera setup</li>
                            <li>Composite live-action footage in Unreal Engine</li>
                            <li>Render using Unreal Engine’s render passes, including Z-Depth (World Depth) Pass, Motion Vectors Pass,
                                Object ID Pass (Cryptomatte), and Stencil Layers Pass</li>
                            <li>Utilize sub-sampling to achieve realistic motion blur and clean renders without Anti-Aliasing Artifacts</li>
                            <li>Output your renders using industry-standard codecs, settings, and quality</li>
                            <li>Import UE renders into your compositor</li>
                            <li>Extract tools & render passes from your render in After Effects & Fusion</li>
                            <li>Composite a character into your scene</li>
                            <li>Z-Depth compositing & depth of field, Object ID, Stencil Layers, Motion Vectors</li>
                        </ul>
                    </div>
                </div>
                <div class="paragraph-right">
                    <div class="list-container">
                        <h1>SOFTWARE USED IN THIS COURSE</h1>
                        <ul>
                            <li>Unreal Engine 4.27 (free)</li>
                            <li>Unreal Engine 5.0 (free)</li>
                            <li>Adobe After Effects (paid, optional)</li>
                            <li>Blackmagic Design Fusion (free)</li>
                            <li>Blender (free, optional)</li>
                        </ul>
                    </div>
                    <div class="list-container">
                        <h1>COURSE INFORMATION</h1>
                        <ul>
                            <li>Estimated time: 10 days (runtime 8.5 hrs)</li>
                            <li>Difficulty: Intermediate</li>
                            <li>Categories: Unreal Engine</li>
                        </ul>
                    </div>
                    <div class="list-container">
                        <h1>UPDATES COMING SOON</h1>
                        <ul>
                            <li>Unreal Engine 5.1 Updates</li>
                            <li>Advanced environment creation techniques</li>
                            <li>Character rigging & animation, working with motion capture</li>
                            <li>Additional & updated composting techniques</li>
                            <li>Advanced lighting techniques & theory, dynamic weather & sky systems</li>
                            <li>Using VDBs for realistic fluid simulations, creating native fluid siimulations in Unreal Engine with Niagara</li>
                            <li>Path Traced Rendering</li>
                            <li>Color grading & management</li>
                        </ul>
                    </div>
                </div>
            </div>
            <button class="button" onclick="enrollNav()">ENROLL NOW</button>
            
            <h1 style="margin-top: 50px; margin-bottom: 20px;">TESTIMONIALS</h1>
            <div class="testimonials-container">
                <div class="testimonial-left">
                    <div class="thumbnail-container">
                        <img class="testimonial-thumbnail" src="/img/Jake_IG.png">
                    </div>
                    <div class="testimonial-text">
                        <p>
                            “Sam’s course has completely altered the trajectory of my career. Not only has it made me more
                            comfortable in a program previously unknown to me, but it allowed me to snag first place in a video
                            contest hosted by Sam Kolder’s “Kolder Creative” and LensDistortions.com. 
                        </p>
                        <p>
                            The course is easy to follow and extremely user-friendly. It follows a structure you can fall back on if
                            you ever need a refresher on a topic, however, if you ever need more help, Sam is incredibly attentive,
                            kind and was quick to respond to every question I had. To any filmmaker, whether you’re a beginner, like
                            me, or a seasoned veteran in the industry, this content is absolutely priceless. It’s allowed me to
                            bring my wildest dreams to life and can definitely do the same for you.”
                        </p>
                        <p style="font-weight: bold;">Jacob G.</p>
                        <p>Director, VFX Artist, <a href="https://www.instagram.com/ineffaproductions/?hl=en">INEFFA Productions</a></p>
                    </div>
                </div>
                <div style="flex: 1 25px"></div>
                <div class="testimonial-right">
                    <div class="thumbnail-container">
                        <img class="testimonial-thumbnail" src="/img/Hussin_LinkedIn_Fixed.jpg">
                    </div>
                    <div class="testimonial-text">
                        <p>“I came across Sam’s YouTube channel while looking for VFX based Unreal Engine content. I was intrigued
                            and watched an intro tutorial which spiked more interest. Sam explains the content very well and in
                            plain English. The pace of his videos are also very easy to follow. Sam seems to be very well versed
                            with the VFX industry and I truly enjoy every bit of his courses. I bought the UE5 advanced course and I
                            now know so much more! Thanks Sam and keep up the good work!”</p>
                            <br>
                        <p style="font-weight: bold;">Hussin K.</p>
                        <p>CEO, <a href="https://efxcoacademy.com/">EFXCO Creative Skills</a></p>
                    </div>
                </div>
            </div>

            <h1>WHAT STUDENTS ARE CREATING</h1>
            <div class="examples-container">
                <div class="example-video">
                    <iframe src="https://www.youtube.com/embed/lJocYzWl-BQ?rel=0&amp;modestbranding=1" title="Kolder Contest Submission" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div style="flex: 1 25px;"></div>
                <div class="example-video">
                    <iframe src="https://www.youtube.com/embed/e5AnYiqJCP4?rel=0&amp;modestbranding=1" title="The Towers" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div id="example-video-bottom">
                <iframe src="https://www.youtube.com/embed/zqd18XR8hBI?rel=0&amp;modestbranding=1" title="Beautiful Day" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <!-- <iframe src="https://iframe.mediadelivery.net/embed/21811/e097fb07-32ef-45f8-9dd5-4da936c6997d?autoplay=true" loading="lazy" style="border: none; position: absolute; top: 0; height: 100%; width: 100%;" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe> -->
            </div>
        </div>

        <footer>
            <div class="footer-container">
                <div class="footer-option">
                    <h1>CONTACT US</h1>
                    <hr>
                    <h2><a href="">eisenhower.films@gmail.com</a></h2>
                </div>
                <div class="footer-option">
                    <h1>SUPPORT</h1>
                    <hr>
                    <h2><a href="https://boundless-resource.com/about-us/">About Us</a></h2>
                    <h2><a href="https://boundless-resource.com/contact-us/">Contact</a></h2>
                </div>
                <div class="footer-option">
                    <h1>USEFUL LINKS</h1>
                    <hr>
                    <h2><a href="https://boundless-resource.com/courses-2/">Courses</a></h2>
                    <h2><a href="https://boundless-resource.com/gallery/">Gallery</a></h2>
                </div>
                <div class="footer-option">
                    <h1>POLICIES</h1>
                    <hr>
                    <h2><a href="https://boundless-resource.com/privacy-policy/">Privacy Policy</a></h2>
                    <h2><a href="https://boundless-resource.com/terms-of-service/">Terms of Service</a></h2>
                </div>
            </div>
            <div class="copyright">
                <h1>BOUNDLESS ENTERTAINMENT CO.</h1>
                <h3>COPYRIGHT &copy; 2023 | ALL RIGHTS RESERVED.</h3>
            </div>
        </footer>

        <script>
            const hamburger = document.querySelector(".hamburger");
            const optionsMenu = document.querySelector(".options");
            //const navLinks = document.querySelectorAll(".nav-link");

            //navLinks.forEach(link => link.addEventListener("click", closeMenu));

            hamburger.addEventListener("click", displayMobileMenu);
            
            function displayMobileMenu() {
                hamburger.classList.toggle("active");
                optionsMenu.classList.toggle("active");
            }
            function closeMenu() {
                hamburger.classList.remove("active");
                optionsMenu.classList.remove("active");
            }
            function enrollNav() {
                window.location.href = 'https://boundless-resource.com/purchase/?plan=4461';
            }
        </script>
    </body>
</html>