/*--------------NAV----------------------*/

nav {
    margin: 0px;
}

.nav-bar {
    width: 100%;
    display: flex;
    /* background-color: whitesmoke; */
    margin: 0px;
}

.hamburger {
    padding-right: 1.0rem;
    padding-top: 1.0rem;
    display: none;
    background-color: whitesmoke;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(31, 81, 112);
}

.nav-bar ul {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav-bar ul li {
    flex: 1 50px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    font-size: 1.2rem;
    letter-spacing: 0.3ch;
    color: #001116;
}

ul li .dropbtn {
    all: unset;
}

.dropdown-content a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #001116;;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 10px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
} 

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-bar ul li:hover {
    cursor: pointer;
    color: rgb(66, 63, 63);
}

.nav-bar ul li a:hover {
    cursor: pointer;
    color: rgb(66, 63, 63);
}

.dropdown .dropdown-content a:hover {
    background-color: whitesmoke;
    color: rgb(66, 63, 63);
}

.logo {
    flex: 1;
    background-color: whitesmoke;
}

.options {
    flex: 1;
    background-color: whitesmoke;
}


/*------------BODY----------------------*/
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Bebas Neue', cursive;
    background: repeating-radial-gradient(circle farthest-side at top left, #001116 20%, #001b23 30%);
    color: whitesmoke;
    line-height: 2em;
}

.main-container {
    width: 60%;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
}

h3 {
    font-size: 0.9em;
}

h1,
h2,
h3 {
    text-align: center;
    letter-spacing: 0.2em;
    line-height: 1.5em;
}

hr {
    border-top: 1.5px solid whitesmoke;
    margin-bottom: 50px;
}

ul li {
    line-height: 1.2rem;
    font-size: 1.0rem;
    margin: 1.0rem auto;
    font-family: 'Montserrat', sans-serif;
}

#offer-container {
    font-family: 'Montserrat 400', sans-serif;
    background-color: rgba(190, 14, 14, 0.856);
    padding: 0.001em 0;
    font-size: 1rem;
    margin: 35px;
}

#video-container {
    overflow: hidden;
    margin-bottom: 50px;
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

#video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#course-name-container {
    padding: 7px;
    text-shadow: 1px 1px 2px black, 0 0 25px grey, 0 0 5px darkgrey;
    background-color: #212d35;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#course-name-container h1 {
    font-size: 1.85rem;
}

.course-info-container {
    background-color: #40565b;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 8px;
    margin-bottom: 25px;
}

.course-info-container h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3.5rem;
    color: #d6fcff;
}

.paragraph-container {
    margin-top: 15px;
    font-size: 1.25rem;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.paragraph-left {
    font-size: 0.9em;
    flex: 1 100px;
    padding: 10px;
    margin-right: 20px;
}

.paragraph-right {
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1 100px;
    padding: 10px;
    margin-left: 20px;
}

.button {
    font-size: 1.25rem;
    text-shadow: 1px 1px 2px black, 0 0 25px whitesmoke, 0 0 5px grey;
    color: whitesmoke;
    width: 20%;
    display: block;
    margin: 0 auto;
    background-color: transparent;
    border: 3px solid white;
    padding: 20px 0;
}

.button:hover {
    cursor: pointer;
    font-size: 1.25rem;
    text-shadow: 1px 1px 2px black, 0 0 25px whitesmoke, 0 0 5px rgb(231, 223, 223);
    color: whitesmoke;
    width: 20%;
    display: block;
    margin: 0 auto;
    background-color: transparent;
    border: 3px solid white;
    padding: 20px 0;
}

#breakdown-container {
    display: flex;
    margin-bottom: 25px;
}

.list-container {
    border-radius: 15px;
    background-color: #40565b;
    padding: 15px;
}

.list-container h1 {
    font-size: 1.85rem;
}


.testimonials-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 50px;
}

.testimonial-left {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 20px;
    flex: 5 100px;
    display: flex;
    margin-bottom: 50px;
}

.testimonial-right {
    background-color: whitesmoke;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    flex: 2 100px;
    display: flex;
    margin-bottom: 50px;
}

.thumbnail-container {
    width: 25%;
    background-color: whitesmoke;
    padding-top: 15px;
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    flex: 1 20px;
}

.testimonial-thumbnail {
    border-radius: 50%;
    padding: 20%;

}

.testimonial-text {
    color: black;
    flex: 6 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0em;
    line-height: 1.2em;
}

.testimonial-text a {
    color: rgb(35, 189, 176);
    text-decoration: none;
}

.examples-container {
    display: flex;
    padding-top: 25px;
    margin-bottom: 50px;
}

.example-video {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 4 100px;
}

.example-video iframe {
    height: 791px;
    width: 445px;
}

#example-video-bottom {
    /* width: 100%; */
    overflow: hidden;
    margin-bottom: 50px;
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    display: flex;
    justify-content: center;
}

#example-video-bottom iframe {
    /* width: 560px;
    height: 315px; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    margin-top: 50px;
    background-color: #001621;
    margin-bottom: 0;
}

.footer-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.footer-option {
    padding-left: 2em;
    padding-right: 2em;
    width: 25%;
}

.footer-option hr {
    border-top: 1.5px solid grey;
    margin-bottom: 0px;
    padding: 0px;
}

.footer-option h1 {
    text-align: left;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;

}

.footer-option h2 {
    text-align: left;
    padding-bottom: 0;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 1.3rem;
}

.footer-option a {
    letter-spacing: normal;
    text-decoration: none;
    color: white;
    font-size: 0.82em;
}

.copyright {
    margin: 0 auto;
    width: 80%;
}

.copyright h1 {
    letter-spacing: 0.1em;
    padding-top: 25px;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 0;
}

.copyright h3 {
    margin-top: 0.05em;
    letter-spacing: 0.1em;
    font-family: 'Montserrat';
    padding-bottom: 35px;
}


/* For mobile devices */
@media only screen and (max-width: 1290px) {

    /*-------------NAV------------------*/


    .hamburger {
        z-index: 10000;
        display: block;
        cursor: pointer;
    }

    /* Changes the look of the hamburger menu bars*/
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* ------------------------------------------*/

    .logo {
        flex: 1 100px;
        height: 7vh;
    }

    .options {
        z-index: 100;
        position: fixed;
        height: 55vh;
        width: 50vw;
        /* left: -100%; */
        right: 100%;
        background-color: whitesmoke;
        /* display: none; */
        /* display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1 100px; */
    }

    .options .active {
        right: 0;
    }

    .active.options {
        position: fixed;
        height: 65vh;
        width: 55vw;
        right: 0;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1 100px;
    }

    .options ul {
        /* border: black 4.0px solid; */
        position: fixed;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    /*.dropbtn {
        display: none;
    }*/

    .nav-bar ul div {
        /* border: red 3.0px solid; */
        background-color: whitesmoke;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .nav-bar ul div li {
        display: flex;
        flex-direction: column;
        /* padding: 0; */
        font-size: 1.3rem;
        align-self: flex-start;
    }

    /*.dropdown-content a {
        text-decoration: none;
        color: #001116;;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 10px;
        font-weight: 200;
        background-color: whitesmoke;
    }*/


    /*------------BODY------------------------*/

    .main-container {
        width: 98%;
    }

    .button {
        font-size: 1rem;
        text-shadow: 1px 1px 2px black, 0 0 25px whitesmoke, 0 0 5px grey;
        color: whitesmoke;
        width: 35%;
        display: block;
        margin: 0 auto;
        background-color: transparent;
        border: 3px solid white;
        padding: 20px 0;
    }

    .paragraph-container {
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
    }

    .paragraph-left {
        font-size: 0.9em;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .paragraph-right {
        font-size: 0.9em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    #breakdown-container {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
        margin: 0 auto;
    }

    .list-container {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 8px;
        margin-bottom: 25px;
    }



    .testimonials-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 25px;
        padding-bottom: 50px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    
    .testimonial-left {
        background-color: whitesmoke;
        border-radius: 5px;
        padding: 20px;
        flex: 5 100px;
        display: flex;
        margin-bottom: 50px;
    }
    
    .testimonial-right {
        background-color: whitesmoke;
        border-radius: 5px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 0px;
        flex: 2 100px;
        display: flex;
        margin-bottom: 50px;
    }

    .examples-container {
        display: flex;
        flex-direction: column;
        padding-top: 25px;
        margin-bottom: 50px;
    }
    
    .example-video {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 4 100px;
    }
    
    .example-video iframe {
        height: 560px;
        width: 315px;
    }
    
    #example-video-bottom {
        overflow: hidden;
        margin-bottom: 50px;
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        height: 0;
        display: flex;
        justify-content: center;
    }
    
    #example-video-bottom iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


    footer {
        margin-top: 50px;
        background-color: #001621;
        margin-bottom: 0;
    }
    
    .footer-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    
    .footer-option {
        width: 90%;
    }
    
    .footer-option hr {
        border-top: 1.5px solid grey;
        margin-bottom: 0px;
        padding: 0px;
    }
    
    .footer-option h1 {
        text-align: left;
        padding-bottom: 0px;
        margin-bottom: 0px;
        font-family: 'Bebas Neue', cursive;
        font-size: 1.0rem;
    }
    
    .footer-option h2 {
        text-align: left;
        padding-bottom: 0;
        font-family: 'Montserrat';
        font-weight: 300;
        font-size: 1.0rem;
    }
    
    .footer-option a {
        letter-spacing: normal;
        text-decoration: none;
        color: white;
        font-size: 1.0rem;
    }
    
    .copyright {
        margin: 0 auto;
        width: 80%;
    }
    
    .copyright h1 {
        font-family: 'Bebas Neue', cursive;
        margin-bottom: 0;
    }
    
    .copyright h3 {
        margin-top: 0.05em;
        font-family: 'Montserrat';
        padding-bottom: 35px;
    }


}